@import "src/assets/scss/index";

.header {
  width: 100%;
  margin: 32px 0;
}

.title {
  color: $color-main;
  @include main-font(36px, 700);
  margin-bottom: 24px;
}

.id {
  @include main-font(24px, 300)
}
