@import 'src/assets/scss/index';

.header {
  @include flex-wrap-center;
  margin: 34px 0px 0px 0px;
  gap: 229px;
  width: 100%;
  height: 70px;
}

.menu {
  @include flex-wrap-center;
  margin: 10px 0px 0px 0px;
  gap: 48px;
}


.menuItem {
  @include flex-wrap-center;
  gap: 10px;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 24px;
  position: relative;
  cursor: pointer;

  &:hover {
    color: $color-main;
  }

  &Active {
    color: $color-main;
    position: relative;
    text-decoration: none;

    &Icon {
      margin: 0px 0px 2px 0px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      bottom: 28px;
      height: 3px;
      left: 2%;
      background-color: $color-main;
     
    }
  }
}


.iconsHeader {
  @include flex-wrap-center;
  margin: 10px 0px 0px 0px;
  gap: 28px;
}

.iconsHeaderItem {
   cursor: pointer;
   height: 32px;
   width: 32px;
}
