@import '../../../assets/scss/index';

.content {
  @include flex-column-center;
}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1174px;
  margin: 0 auto;
}
