@import 'src/assets/scss/index.scss';

.title {
  color: $color-dark-green;
  @include main-font(28px, 700);
  margin-bottom: 48px;
}

.table {
  width: 100%;
  margin-bottom: 48px;
}

.subtitle {
  color: $color-dark-green;
  @include main-font(24px, 600);
  margin-bottom: 24px;
}

.link {
  display:list-item;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 22px;
  color: $color-dark-green;
  margin-bottom: 20px;
  padding-left: 10px;
}

.link::marker {
  width: 10px;
  height: 10px;
}


.link a {
  @include main-font(20px, 400);
  color: $color-dark-green;
  text-decoration: underline;
}

//.link:before {
//  content: '';
//  display: flex;
//  align-items: flex-start;
//  height: 4px;
//  width: 4px;
//  margin-right: 8px;
//  margin-left: 13px;
//  border-radius: 50%;
//  background-color: $color-main;
//}
