@import 'src/assets/scss/index.scss';


.title {
  @include main-font(36px, 600);
  color: $color-main;
  margin-bottom: 110px;
}

.text {
  @include main-font(28px, 400);
  margin-bottom: 90px;

}

.systemReq {
  @include main-font(24px, 700);
  color: black;
  margin-bottom: 40px;
}

.table {

  margin-bottom: 100px;
  .rowName {
    @include main-font(24px, 600);
    padding-right: 20px;
  }
  .rowValue {
    @include main-font(24px, 400);
  }
}

.subtitle {
  @include main-font(28px, 400);
  color: $color-dark-green;
  margin-bottom: 50px;
}
.section {
  display: flex;
  justify-content: space-between;
  @include main-font(24px, 400);
  margin-bottom: 100px;
}

.left {
  li {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
  }

  .number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #D9D9D9;
    margin-right: 20px;
    @include flex-center();
  }

  .content {
    width: 542px;
    button {
      margin-top: 40px;
    }
  }

  .download {
    @include flex-center();
    width: 371px;
    height: 69px;
    margin-top: 40px;
    border: 1.5px solid $color-black-green;
    @include main-font(24px, 700);
    color: $color-black-green;
    background: transparent;
    cursor: pointer;
  }

  .download:hover {
    background: #C0E8C5;
  }

  .upload {
    margin-top: 40px;
    text-align: center;
    position: relative;

    .input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }

    .inputButton {
      width: 230px;
      height: 72px;
      @include main-font(20px, 700);
      color: $color-black-green;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }

    .inputButton:hover {
      background: #C0E8C5
    }
  }

}

.help {
  @include main-font(24px, 400);
  a {
    color: $color-dark-green;
    @include main-font(24px, 600);
  }
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}


.loaderContainer {
  display: flex;
  justify-content: center;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $color-main;
  border-color: $color-main transparent $color-main transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

