@import "src/assets/scss/index";


.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 1174px;
  min-height: 64px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 12px 0;
  color: $color-main;
}

.link:hover {
  background: rgba(41, 150, 54, 0.25);
}

.color {
  height: 64px;
  width: 16px;
  border-radius: 20px 0 0 20px;
}

.id {
  height: 100%;
  width: 80px;
  margin-left: 20px;
  @include main-font(24px, 700)

}

.name {
  height: 100%;

  @include main-font(24px, 400)

}


