@import 'src/assets/scss/index.scss';

.container {
  min-height: 230px;
  max-height: 773px;
  overflow: scroll;
  padding-top: 20px;
}

.table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  text-align: left;
}

.headers {
  width: 100%;
  color: $color-main;
  @include main-font(24px, 600);
}

.item {
  height: 120px;
}

.cell {

  @include main-font(24px, 500)
}

.header > p {
  background-color: #FFFFFF;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 30px;
  z-index: 100;

}
