@import "src/assets/scss/index";

.button {
  @include flex-center();
  width: 371px;
  height: 69px;
  border: 1.5px solid $color-black-green;
  @include main-font(20px, 700);
  color: $color-black-green;
  background: transparent;
  cursor: pointer;
}

.disabled {
  border: 1.5px solid #656565;
  color: #656565;
  background-color: rgba(170, 170, 170, 0.3);
}


.button:hover {
  background: #C0E8C5;
}

.disabled:hover {
  cursor: not-allowed;
  background-color: #AAAAAA;
}
