@import 'src/assets/scss/index.scss';

.sfcForm {
    width: 1174px;
    height: 1672px;
    background: #FFFFFF;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 32px 0 0 40px;

    &Select {
        @include main-font(20px, 500);
        width: 856px;
        height: 40px;
        background: $color-white;
        margin: 24px 0 40px 0;
      }

    &SubmitContainer {
        display: flex;
        justify-content: center;

        & > button {
            width: 208px;
            height: 40px;
            background: rgba(41, 150, 54, 0.5);
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            @include main-font(20px, 600);
            font-style: normal;
            cursor: pointer;
            color: #076B13;
            margin: 56px 0 120px 0;
        }
    }
}
