@import '../../../assets/scss/index';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1174px;
  max-width: 1174px;
  margin: 0 auto;
}

.cvss {
  @include main-font(20px, 300);
  width: 100%;
  margin-bottom: 32px;
  .title {
    display: inline-block;
    margin-bottom: 8px;
  }
  .vector {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 8px;
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1174px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 0 0 64px;
  padding: 0 16px 32px;
}

.imagesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .imageBlock {
    @include flex-column-center;

    .img {
      display: block;
      width: 370px;
      height: 272px;
      margin-top: 104px;
    }

    .name {
      display: block;
      margin-top: 96px;
      margin-bottom: 32px;
      @include main-font(24px, 500)
    }
  }
}

.sourcesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 1174px;
}
